<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEw</title>
</head>

<body>
    <form action="/campgrounds" method="post">
        <input type="text" id="title" name="campground[title]">
        <input type="text" id="location" name="campground[location]">
        <button>add</button>
    </form>
</body>

</html>