<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a new comment</title>
</head>

<body>
    <h1>make a new comment</h1>
    <form action="/comments" method="post">
        <label for="username"> enter usr name</label>
        <input id="username" type="text" placeholder="user name" name="username">
        <label for="comment"> enter usr name</label>
        <input id="comment" type="text" placeholder="comment" name="comment">
        <button>submit</button>
    </form>
    <a href="/comments"> current comment</a>
</body>

</html>