<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>homepe pagev <%= 4+5+10%>
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam tempore nemo quia dicta deleniti incidunt
        asperiores quis velit tenetur, quod recusandae accusamus assumenda in id fugit culpa quas illum error.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam tempore nemo quia dicta deleniti incidunt
        asperiores quis velit tenetur, quod recusandae accusamus assumenda in id fugit culpa quas illum error.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam tempore nemo quia dicta deleniti incidunt
        asperiores quis velit tenetur, quod recusandae accusamus assumenda in id fugit culpa quas illum error.</p>
</body>

</html>